<header class="header">
    <div class="container">
        <div class="header__container">
            <div class="header__logos">
                <a class="header__logo-ts" href="#">
                    <picture class="img">
                        <source srcset="images/logo_tr_mob.png" media="(max-width: 800px)" />
                        <img src="images/logo_tr.png" alt="Логотип" />
                    </picture>
                </a>
                <a class="header__logo-ya" href="#">
                    <picture class="img">
                        <source srcset="images/logo_ya_mob.png" media="(max-width: 800px)" />
                        <img src="images/logo_ya.png" alt="Логотип" />
                    </picture>
                </a>
                <a class="header__logo-sm" href="#">
                    <picture class="img">
                        <source srcset="images/logo_sm_mob.png" media="(max-width: 800px)" />
                        <img src="images/logo_sm.png" alt="Логотип" />
                    </picture>
                </a>
            </div>
            <nav class="header__nav">
                <ul class="header__menu">
                    <li class="header__item">
                        <a href="#" class="header__link">главная</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">правила</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">победители</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">FAQ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>