<section class="hero">
    <h1 class="hero__title title">
        <span class="title__line">Участвуйте в розыгрыше</span>
        <span class="title__line title__line--gold">150 000 рублей</span>
    </h1>
    <button class="hero__btn">и других призов!</button>
    <picture class="hero__img">
        <source srcset="images/hero/banner_mobile.webp" media="(min-width: 1180px)" />
        <img src="images/hero/banner_desc.webp" alt="баннер" />
    </picture>
    <p class="hero__text">
        Акция с 19 декабря 2025 г. по 19 января 2026 г.
    </p>
</section>